@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
  background-color: #ffffff;
  font-family: "Noto Sans Japanese", sans-serif;
  width: 100%;
  color: #313131;
}
header {
  height: 120px;
  padding-top: 2%;
  position: relative;
}
.logo {
  color: #d9cab3;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  text-align: center;
  margin: 0 auto;
}
p {
  font-family: "Merriweather", serif;
}

.top-img {
  height: 700px;
  width: 100%;
  background-image: url(img/0376BBD2-DFD8-4937-89EF-7A2882839F44_1_201_a.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
.head-name {
  text-align: center;
  padding: 12px 0;
  font-family: "Merriweather", serif;
}
.head-name h2 {
  font-size: 46px;
  position: relative;
  display: inline-block;
  padding: 0 55px;
}
.head-name p {
  font-size: 18px;
  position: relative;
}
.container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

h2:before,
h2:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 5px;
  background-color: #63513b;
}

h2:before {
  left: 0;
}
h2:after {
  right: 0;
}
section {
  padding: 0 calc((100% - 1200px) / 2);
}
.access-info {
  padding: 2%;
}

.topics {
  padding: 0 calc((100% - 1200px) / 2);
}
.topics-color {
  background-color: #f6f6f6;
}
article {
  height: 100%;
  padding: 50px 0;
  width: 30%;
}
.topic-img {
  height: 50%;
}
.topic-img img {
  width: 100%;
}
.topic-item {
  margin: 2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.topic-item:before,
.topic-item:after {
  content: "";
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.topic-item:before {
  left: 10px;
}
.topic-item:after {
  right: 10px;
}
.topic-item p {
  margin: 0;
  padding: 0;
}
.topic-title {
  font-size: 18px;
}
.topic-date {
  font-size: 18px;
}
.topic-content {
  font-size: 12px;
}
.gallery {
}
.galleries {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

.gallery-box {
  width: 50%;
  padding: 10px 7px;
}
.gallery-box ul {
  display: flex;
}
.gallery-img img {
  width: 100%;
  height: 157px;
}
.gallery-title {
}
.gallery-date {
}
.menu {
  background-color: #efefef;
}
.menu-box {
  display: flex;
  flex-wrap: wrap;
}
.menu-one {
  width: 50%;
  padding: 3%;
}
#menu-title-color {
}
.menu-one li {
  font-size: 13px;
  border-bottom: 1px solid #c6bfbf;
  padding: 10px 0;
}
.menu-sub-name {
  text-align: center;
}
.menu-sub-name-border {
  text-align: center;
  border-bottom: 1px solid #c6bfbf;
}
.yen-font {
  padding-left: 70%;
}

#stylist-name {
  font-size: 30px;
}
#stylist-name-sub {
  font-size: 20px;
  padding: 10px 0;
}
#stylist-content {
  padding: 10px 0;
  line-height: 30px;
  font-size: 16px;
}

.stylist-info {
  display: flex;
  padding: 5% 2%;
}
.stylist-info p {
  width: 50%;
}
.stylist-box {
  text-align: center;
  padding: 20px;
  color: #3b4043;
  width: 50%;
}
.stylist-box p {
  width: 100%;
}

.stylist-info img {
  display: block;
  margin: 0 auto;
}

.background_test {
  background-color: #f3ede5;
}
.access-box {
  padding: 3%;
  display: flex;
}
.attention {
  width: 50%;
}
.attention_box {
  width: 90%;
  height: 100%;
  border: 2px solid #63513b;
  text-align: center;
  color: #030303;
}

.attention_box h2 {
  padding: 30px 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
#attention_text {
  width: 65%;
  font-size: 17px;
  line-height: 2;
  margin-bottom: 2em;
  padding: 3% 0 9%;
  margin: 0 auto;
}
.access-box p {
  width: 50%;
}

.map {
  border: solid 2px #63513b;
}

.access-info p {
  text-align: center;
}

.access-info img {
  margin: 0 auto;
  display: block;
}
footer {
  height: 30px;
  background-color: #3b4043;
}
footer p {
  text-align: center;
  color: #ffffff;
}
#nav-drawer {
  position: relative;
  position: absolute;
  top: 34%;
  right: 3%;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display: none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span,
#nav-open span:before,
#nav-open span:after {
  position: absolute;
  height: 3px; /*線の太さ*/
  width: 25px; /*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: "";
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none; /*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0; /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /*最前面に*/
  width: 90%; /*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px; /*最大幅（調整してください）*/
  height: 100%;
  background: #6e9664; /*背景色*/
  transition: 0.3s ease-in-out; /*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%); /*左に隠しておく*/
  text-align: center;
  color: #ffffff;
}

#nav-content a {
  text-decoration: none;
  color: #ffffff;
}
#nav-content ul {
  padding-top: 20%;
}
#nav-content p {
  padding-top: 20%;
}
#nav-content li {
  line-height: 3rem;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block; /*カバーを表示*/
  opacity: 0.5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); /*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}
@import url("https://fonts.googleapis.com/css?family=Heebo:800");

.top-main {
  padding: 2%;
}
.top-image {
  height: 700px;
  position: relative;
}
.parent {
  width: 100%;
  height: 700px;
  overflow: hidden;
  border-radius: 16px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  position: absolute;
}

svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 700px;
}

button {
  position: absolute;
  z-index: 50;
  width: 40px;
  overflow: hidden;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
}
button:focus {
  outline-width: 0;
}

circle {
  stroke: #fff;
  fill: none;
  transition: 0.3s;
}

#svg1 circle {
  transition-timing-function: linear;
}

#svg2 circle {
  transition-timing-function: linear;
}

#Capa_1 {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-7px, -8px);
}

#Capa_2 {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-9px, -8px);
}

.right {
  margin-top: 335px;
  border: 1px solid #849494;
  background-color: transparent;
  transition: 0.5s;
  left: 23%;
}
.right:hover {
  background-color: #fff;
}

.left {
  margin-top: 335px;
  border: 1px solid #849494;
  background-color: transparent;
  transition: 0.5s;
  left: 1%;
}
.left:hover {
  background-color: #fff;
}

.circle1 {
  transition-delay: 0.05s;
}

.circle2 {
  transition-delay: 0.1s;
}

.circle3 {
  transition-delay: 0.15s;
}

.circle4 {
  transition-delay: 0.2s;
}

.circle5 {
  transition-delay: 0.25s;
}

.circle6 {
  transition-delay: 0.3s;
}

.circle7 {
  transition-delay: 0.35s;
}

.circle8 {
  transition-delay: 0.4s;
}

.circle9 {
  transition-delay: 0.45s;
}

.circle10 {
  transition-delay: 0.05s;
}

.circle11 {
  transition-delay: 0.1s;
}

.circle12 {
  transition-delay: 0.15s;
}

.circle13 {
  transition-delay: 0.2s;
}

.circle14 {
  transition-delay: 0.25s;
}

.circle15 {
  transition-delay: 0.3s;
}

.circle16 {
  transition-delay: 0.35s;
}

.circle17 {
  transition-delay: 0.4s;
}

.circle18 {
  transition-delay: 0.45s;
}

.slide1 {
  background-image: url("https://images.unsplash.com/photo-1483068612337-c045daaca40e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=6de8746a693acc34ebe9e9a15c4c18d1");
}

.slide2 {
  background-image: url("https://images.unsplash.com/photo-1489914099268-1dad649f76bf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=f21f40bb93bae58300e83f7f72ebb5a5");
}

.slide3 {
  background-image: url("https://images.unsplash.com/photo-1490100667990-4fced8021649?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=247f52de1a292b8a1877b0c7dd77a291");
}

.slide4 {
  background-image: url("https://images.unsplash.com/photo-1494783404829-a93883e74b68?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=413f5f5c41f4db69a1474d92419601ac");
}

.slider {
  position: absolute;
  width: 400%;
  height: 700px;
  background: #000;
  display: inline-flex;
  overflow: hidden;
}

.slide1,
.slide2,
.slide3,
.slide4 {
  position: absolute;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-size: 62px;
  padding-top: 307px;
  font-weight: 800;
  font-family: "Heebo", sans-serif;
  text-align: center;
  width: 25%;
  height: 100%;
  z-index: 10;
  transition: 1.4s;
}

.tran {
  transform: scale(1.3);
}

.up1 {
  z-index: 20;
}

.up2 {
  z-index: 40;
}

.steap {
  stroke-width: 0;
}

.streak {
  stroke-width: 82px;
}
.insta_btn2 {
  /*ボタンの下地*/
  color: #fff; /*文字・アイコン色*/
  border-radius: 7px; /*角丸に*/
  position: relative;
  display: inline-block;
  height: 50px; /*高さ*/
  width: 190px; /*幅*/
  text-align: center; /*中身を中央寄せ*/
  font-size: 25px; /*文字のサイズ*/
  line-height: 50px; /*高さと合わせる*/
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat; /*グラデーション①*/
  overflow: hidden; /*はみ出た部分を隠す*/
  text-decoration: none; /*下線は消す*/
}

.insta_btn2:before {
  /*グラデーション②*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /*全体を覆う*/
  height: 100%; /*全体を覆う*/
  background: -webkit-linear-gradient(
      15deg,
      #ffdb2c,
      rgb(249, 118, 76) 25%,
      rgba(255, 77, 64, 0) 50%
    )
    no-repeat;
  background: linear-gradient(
      15deg,
      #ffdb2c,
      rgb(249, 118, 76) 25%,
      rgba(255, 77, 64, 0) 50%
    )
    no-repeat;
}

.insta_btn2 .fa-instagram {
  /*アイコン*/
  font-size: 35px; /*アイコンサイズ*/
  position: relative;
  top: 4px; /*アイコン位置の微調整*/
}

.insta_btn2 span {
  /*テキスト*/
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.insta_btn2:hover span {
  /*ホバーで一周回転*/
  -webkit-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
}
.insta_btn .fa-instagram {
  /*アイコン*/
  color: #fff; /*白に*/
  position: relative; /*z-indexを使うため*/
  z-index: 2; /*グラデーションより前に*/
  font-size: 35px; /*アイコンサイズ*/
  line-height: 50px; /*高さと合わせる*/
}
.fadein {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 1500ms;
}

.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}
/* PC用のCSSはメディアクエリの外に記述する */

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .topic-item p {
    font-size: 80%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .yen-font {
    padding-left: 85%;
  }
}
@media (max-width: 700px) {
  .parent {
  }
  article {
    padding: 50px 15px;
    width: 50%;
  }
  .stylist-info {
    display: contents;
  }
  .stylist-info p {
    padding-top: 6%;
    width: 100%;
  }
  .stylist-box {
    width: 100%;
  }
  .access-box {
    display: contents;
  }
  .access-box p {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .topic-item p {
    font-size: 80%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .menu-one {
    width: 100%;
    padding: 3%;
  }
  .slide1,
  .slide2,
  .slide3,
  .slide4 {
    font-size: 40px;
  }
}
