@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
  background-color: #ffffff;
  font-family: "Noto Sans Japanese", sans-serif;
  width: 100%;
  color: #313131;
  padding: 0 calc((100% - 1200px) / 2);
}
header {
  height: 70px;
  background-color: burlywood;
}
.logo {
  width: 140px;
  color: #f7f7f7;
  text-align: center;
}
.top-img {
  height: 700px;
  width: 100%;
  background-image: url(img/0376BBD2-DFD8-4937-89EF-7A2882839F44_1_201_a.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
.head-name {
  text-align: center;
  padding: 12px 0;
}
.head-name h2 {
  font-size: 22px;
  position: relative;
  display: inline-block;
  padding: 0 55px;
}
.head-name p {
  font-size: 18px;
  position: relative;
}
.container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

h2:before,
h2:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: lightseagreen;
}

h2:before {
  left: 0;
}
h2:after {
  right: 0;
}
section {
  padding: 50px 0;
}
.topics {
  padding: 0 2rem;
}
article {
  height: 100%;
  padding: 50px 0;
  width: 30%;
}
.topic-img {
  height: 50%;
}
.topic-img img {
  width: 100%;
}
.topic-item {
  margin: 2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.topic-item:before,
.topic-item:after {
  content: "";
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.topic-item:before {
  left: 10px;
}
.topic-item:after {
  right: 10px;
}
.topic-item p {
  margin: 0;
  padding: 0;
}
.topic-title {
  font-size: 18px;
}
.topic-date {
  font-size: 18px;
}
.topic-content {
  font-size: 12px;
}
.gallery {
}
.galleries {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

.gallery-box {
  height: 244px;
  width: 50%;
  padding: 10px 7px;
}
.gallery-box ul {
  display: flex;
}
.gallery-img img {
  width: 100%;
  height: 157px;
}
.gallery-title {
}
.gallery-date {
}
.menu {
  background-image: url("img/0964D0DD-398B-4E0F-9FA4-991E8E34A11E_1_201_a.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10px;
}
.menu-box {
  display: flex;
  flex-wrap: wrap;
}
.menu-one {
  width: 171px;
  background-color: #ffffff;
  border-radius: 10%;
  margin: 3px;
}
#menu-title-color {
  color: #ffffff;
}
.menu-one li {
  font-size: 13px;
  border-bottom: 1px solid #c6bfbf;
  padding: 10px 0;
}
.menu-sub-name {
  border-bottom: 1px solid #c6bfbf;
}
.yen-font {
  padding-left: 5%;
}
.stylist-box {
  text-align: center;
  padding: 20px;
  color: #3b4043;
}

#stylist-name {
  font-size: 30px;
}
#stylist-name-sub {
  font-size: 20px;
  padding: 10px 0;
}
#stylist-content {
  padding: 10px 0;
  line-height: 30px;
  font-size: 16px;
}

.stylist-info img {
  width: 288px;
  height: 291px;
  display: block;
  margin: 0 auto;
}
.access-info {
}
.access-box {
  display: flex;
  justify-content: center;
  align-content: center;
}
.access-box p {
  width: 40%;
}
.map {
  height: 344px;
}
.insta {
  width: 302px;
  height: 384px;
}
.access-info p {
  text-align: center;
}

.access-info img {
  margin: 0 auto;
  display: block;
}
footer {
  height: 30px;
  background-color: #3b4043;
}
footer p {
  text-align: center;
  color: #ffffff;
}
